{% load bootstrap3 %}
{% load fontawesome %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
<!DOCTYPE html>
<html>
<head>
    <title>線上算命第一選擇</title>
    {% fontawesome_stylesheet %}
</head>
<body>
{% block navbar %}
    {% include "estore/_navbar.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'estore/css/application.css' %}">
{% endblock %}
<div class="page-header">
    <h1><a href="/">線上算命第一選擇</a></h1>
</div>
<div class="content container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>

